<%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%>

<link href="https://fonts.googleapis.com/css?family=Poor+Story"
	rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo" rel="stylesheet">


<style>
a {
	font-size: 25px;
	color: white;
	text-decoration: none;
/* 	font-family: 'Poor Story', cursive; 
	font-family: 'Black Han Sans', sans-serif;*/
	font-family: 'East Sea Dokdo', cursive;
}
</style>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="home.do">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="a_selectAll.do">USER</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="sl_selectAll.do">SLEEP</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="b_selectAll.do">BARBEL</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="d_selectAll.do">DUMBEL</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="j_selectAll.do">JUMP</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="st_selectAll.do">SITUP</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="r_selectAll.do">RUN</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="w_selectAll.do">WALK</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="h_selectAll.do">HEATBEAT</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="p_selectAll.do">PRODUCT</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="rg_selectAll.do">REGISTER</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="data_select.do">DATA</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="logout.do">LOGOUT</a>
