<%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%>

<link href="https://fonts.googleapis.com/css?family=Poor+Story"
	rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo" rel="stylesheet">


<style>
a {
	font-size: 25px;
	color: white;
	/* font-weight: bold; */
	text-decoration: none;
/* 	font-family: 'Poor Story', cursive; 
	font-family: 'Black Han Sans', sans-serif;*/
	font-family: 'East Sea Dokdo', cursive;
}
</style>

<a href="main.do">로그인</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="join.do">회원가입</a>
